/*-- scss:defaults --*/

/*-- scss:rules --*/

#title-block-header .title {
  justify-content: left;
  gap: 0;
}

#quarto-sidebar {
  background-color: var(--primary-back);
}

.sidebar-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  color: var(--primary);
}

.sidebar-title .sidebar-tools-main {
  gap: 0.4rem;
  .quarto-navigation-tool {
    font-size: 1.5rem;
    color: var(--primary-dark);
    &:hover {
      color: var(--primary);
    }
  }
}

.sidebar .aa-Form {
  background-color: var(--primary-surface);
  border: 2px solid color-mix(in srgb, var(--primary), white 85%);
  color: var(--primary-dark);

  &:focus-within {
    border: 1px solid var(--primary);
  }

  .aa-InputWrapperPrefix .aa-Label svg {
    color: var(--primary-dark);
  }

  .aa-Input {
    color: var(--primary-dark);
    &::placeholder {
      color: var(--primary-dark);
      opacity: 0.5;
    }
  }

  .aa-ClearButton {
    color: var(--primary-dark);
  }
}

#quarto-search-results .aa-Panel {
  background-color: var(--primary-back);
  border-color: $sidebar-bg;
  .search-result-header {
    background-color: $primary-surface;
    color: $body-color;
  }
  .aa-Item[aria-selected=false] .search-item {
    background-color: $primary-back;
  }
  .aa-Item[aria-selected=true] .search-item {
    background-color: $primary;
  }
}
